body {
  font-family: Arial, Helvetica, sans-serif;
}
.content__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
  list-style: none;
}

.content__wrapper {
  max-width: 920px;
}